/* task1 transparent sing in form cord */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body1{
    height: 745px;
    width: 100%;
    background: url(pictures/6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    box-sizing: border-box;

}
.h{
    text-align: center;
    font-size: 50px;
    color: white;
    
}
.task{
    height: 430px;
    width: 400px;
    margin:155px 0 100px 550px;
    text-align: center;
    transform:(-50% -50%);
    background: linear-gradient(rgba(110, 110, 110, 0.3),rgba(110, 110, 110, 0.3));
    color: white;
    box-sizing: border-box;   
}
.font{
    font-size: 40px;
    padding-top: 20px;
}
.p{
    padding-top: 15px;
}
.social{
    margin-top: 20px; 
 } 
.Facebook{
    margin-right: 25px;
     height: 28px;
     width: 130px;
     color: #fff;
     border-color: #fff;
     background: transparent;
 }
 .Google{
     margin-left: 25px;
     width: 130px;
     height: 28px;
     color: #fff;
     border-color: #fff;
     background: transparent;
 }
.Input_box{
    padding: 15px 42px;
}
.form-text input{
    height: 28px;
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    margin-bottom: 28px;
    background-color: rgba(255, 255, 255, 0.137);
    padding-left: 15px;
    
}
.check_Box{
    text-align: left;
}
.Remember{
    margin-left: 8px;
    font-size: 17px;
    margin-right: 79px;
}
.submit{
    margin-top: 30px; 
   
}
.form-submit input{
    height: 28px;
    width: 50%;
    background: transparent;
    border: none;
    color: white;
    margin-bottom: 28px;
    background-color: rgba(223, 31, 31, 0.767);
    border-radius: 15px; 
    font-size: 17px;
} 


 


 /* task2 student records code  */

 .records{
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
.bold{
    font-weight: bold;

}
.showdo{
    box-shadow:3px 3px 3px #000;
    margin: auto;
    
}
.pngimg{
    height: 80px;
    width: 80px;
}